<div class="card" id="show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url('<%= cl_image_path @article.photo %>')">
  <div class="card-category"><%= @article.category %></div>
  <div class="card-description">
    <h2><%= @article.title %></h2>
  </div>
</div>
<div class="container" id="article-description">
  <p><%= @article.description %></p>
</div>
<p>Vote for this article</p>
<%= link_to "upvote", upvote_path(:id => @article.id), class: 'btn btn-warning' %>
<%= link_to "Comment", new_article_review_path(@article), class: 'btn btn-warning' %>
<%= link_to "Reviews", article_reviews_path(@article), class: 'btn btn-warning' %>
<p><%= @article.vote %></p>
